html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#name {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#name_container {
    display: block;
    text-align: center;
}

.center {
    display: block;
    align-items: cet;
}

#anya_pic {
    height: 250px;
    transform: scaleX(-1);
}

#past_projects {
    text-align: center;
}

.project_pict {
    height: 300px;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.project {
    text-align: center;
    margin: 5px;
    width: 30%;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.solo {
    width: 40%;
}

li {
    list-style: none;
}

#people {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}